.App {
  text-align: center;
}

.login-main-window {
  width: 100%;
  text-align: center;
  text-align: -webkit-center;
  margin: 10px;
}

.login-form-container {
  width: 500px;
  padding: 30px 10px !important;
  background-color: rgba($color: #a0cee4, $alpha: 1.0);
}

.input-register-form {
  width: 300px;
}